# Local Docker (default for `docker-compose up`)
# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/kanban?schema=public"
# DIRECT_URL="postgresql://postgres:postgres@postgres:5432/kanban?schema=public"

# -Supabase (use for deployment) 
DATABASE_URL="postgresql://postgres.yjtvearithnkebhpnyvs:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://postgres.yjtvearithnkebhpnyvs:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require"

BETTER_AUTH_SECRET="replace-with-a-random-32-char-secret"

BETTER_AUTH_URL="https://abulbashar-kanban-task-management.vercel.app"

NODE_ENV=production
PORT=5000

FRONTEND_URL="https://abulbashar-kanban-task-management.vercel.app"
